@import 'variables.scss';
@import 'reset.scss';

body {
    background-color: $bg-color;
    color: $white;
    font-family: $font;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2.5rem;

    .header-logo {
        margin-right: 2rem;

        .platform-title {
            visibility: hidden;
        }
    }

    .header-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        & div {
            margin-right: 2rem;
        }
    }
}

main {
    text-align: center;

    .section-title {
        font-size: 2em;
        margin: 1rem 3rem 1rem;
    }

    section {
        display: flex;
        flex-direction: column;

        .top-item:nth-child(4), .top-item:nth-child(5) {
            display: none;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    main {
        text-align: left;

        section {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;

            margin: 2rem;

            .item {
                margin: .3rem;
                flex-grow: 3;

                img {
                   min-width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    header {
        .header-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .platform-title {
                visibility: visible;
                font-size: 2em;
                font-weight: bold;
                margin-left: 2rem;
            }
        }

        .header-buttons div:hover {
            background-color: $white;
            color: hsl(0, 0, 0%);
            padding: 1rem;
            border-radius: .3rem;
        }
    }

    main {
        section {
            .top-item {
                min-width: 225px;
            }

            .item {
                min-width: 250px;

                &:hover {
                    transform: scale(1.1);
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}