@font-face {
    font-family: 'Jost', sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
}

$bg-color: hsl(0, 0%, 8%);
$white: hsl(0, 0, 100%);

$font: 'Jost', sans-serif;